@mixin avatar-radius() {
  border-radius: 4px;
  background: transparent no-repeat;
  background-position: 50%;
  background-clip: padding-box;
}

@mixin avatar-size($size:48px) {
  width: $size;
  height: $size;
  background-size: $size $size;
}

@mixin font-outline($lineWidth: 2px, $color: #000, $steps: 16){
  $q: "";
  @for $i from 0 through $steps{
    $q: $q + cos($i / $steps * 360) * $lineWidth sin($i / $steps * 360) * $lineWidth 0px $color;
    @if($i != $steps){
      $q: $q + ", ";
    }
  }
  @include text-shadow(#{$q});
}
